{% extends 'mainPage.html' %}

{% block title %}{{ article.article_title }}{% endblock %}
{% block head %}
    {% load staticfiles %}
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
    <link rel="stylesheet" href="{% static 'admin/css/news.css' %}">
{% endblock %}
{% block news %}
     {% if article.article_img %}
        <img id="img__news" src="{{ article.article_img }}" width="200px" height="200px">
     {% endif %}
    <div class="new-1-detail">
    <h2>{{ article.article_title }}</h2>
    <div class="news_info">
        <p>{{ article.article_content }}</p>
    </div>
        <em id="news_pub_date">{{ article.pub_date }}</em>
    </div>
    <div class="com">
        <div class="comments form-group">

            <form action="{% url 'newsApp:leave_comment' article.id %}" method="post">
                {% csrf_token %}

                <input type="text" required="" class="form-control" placeholder="Ваше имя" name="name"><br>
                <textarea name="text" class="form-control" required="" placeholder="Текст комментария" cols="30" rows="10"></textarea><br>

                <button type="submit" class="btn btn-info">Оставить комментарий</button>
            </form>

        </div>
        <h5>
            {% if latest_comment_list %}
                {% for c in latest_comment_list %}
                <p>
                    <strong>{{ c.author_name }}</strong>
                    <p>{{ c.comment_text }}</p>
                </p>
                {% endfor %}
            {% endif %}
        </h5>
    </div>
{% endblock %}