div.body
{
    background-color: white;
    height: 1000px;
    width: 100%;
    background-image: url("/static/admin/img/bgC.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

div.map
{
    justify-content: center;
    display: flex ;
}

div.map1
{

    width: 800px;
    height: 450px;
    margin-top: 100px;
}

form
{
    width: 800px;
    height: 150px;
    display: flex;
    background-color: #F3EDEC;
    padding: 10px;
    justify-content: space-between;
}


div.form
{
    justify-content: center;
    display: flex ;
    margin-top: 50px;
}

div.form1
{

    width: 800px;
    height: 150px;
    display: flex;
    background-color: #F3EDEC;
    padding: 10px;
    justify-content: space-between;

}

.submit
{
    height: 50px;
    width: 100px;
    border-radius: 25px;

}


div.submit{
    float: right;
    margin-top: 42px;
}




.contacts
{
    height: 25px;
    width: 150px;
}

.names
{

    height: 25px;
    width: 150px;
}