
#img__news
{
    margin-top:100px ;
    margin-left: 15%;
    margin-bottom: 10px;
    position: static;
    height: 500px;
    width: 70%;
}

 html {
    font-size: 16px;
 }

.media-body .author {
display: inline-block;
    color: #000;
    font-weight: 700;
    font-size: 1rem;
}

.media-body .metadata {
    display: inline-block;
    color: #777;
    font-size: .8125rem;
    margin-left: .5rem;
}

.footer-comment {
    color: #777;
}

.vote.plus:hover {
    color: green;
}

.vote.minus:hover {
    color: red;
}

.vote {
cursor: pointer;
}

.comment-reply a {
    color: #777;
}

.comment-reply a:hover, .comment-reply a:focus {
    color: #000;
    text-decoration: none;
        }

.devide {
    padding: 0px 4px;
    font-size: 0.9em;
}

.media-text {
    margin-bottom: 0.25rem;
}

.title-comments {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, .87);
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    border-bottom: 2px solid rgba(34, 36, 38, .30);
    margin-left: 20px;
}

div.comments__
{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 40px;
    text-align: center;
}

/*.underline*/
/*{*/
/*    font-size: 1.4rem;*/
/*    font-weight: bold;*/
/*    line-height: 1.5rem;*/
/*    color: rgba(0, 0, 0, .87);*/
/*        margin-bottom: 1rem;*/
/*    padding-bottom: .40rem;*/
/*    border-bottom: 1px solid rgba(0, 0, 0, .10);*/
/*}*/

div.ang
{
    background-color: #f2f2f2;
    border: 0.5px solid;
    border-radius: 25px;
}